[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.10"

[packages]
ConfigArgParse = "1.5.3"
websockets = "10.1"
attrs = "21.4.0"
cattrs = "1.10.0"
selenium = "4.1.0"
selenium-wire = "4.6.0"
requests = "2.27.1"
brotli = "1.0.9"
parsedatetime = "2.6"
translate = "3.6.1"

[dev-packages]
black = "*"
pyinstaller = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-assert-utils = "*"
pytest-cov = "*"
